*{
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #81a4c7;
}
body{
    background-color: #0d47a1;  
}
header {
    background-color: #0d47a1;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

header p {
    color: white;
    font-weight: bold;
}

nav {
    background-color: #1565c0;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}


section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}


h2 {
    color: #0d47a1;
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    color: #1565c0;
    font-size: 1.2em;
    margin-top: 20px;
}


ul {
    padding-left: 20px;
    margin-top: 10px;
    list-style-type: disc;
}


a {
    color: #1e88e5;
}

a:hover {
    color: #0d47a1;
}

section p code,
section pre {
    background-color: #e3f2fd;
    padding: 6px;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    font-family: monospace;
}

footer {
    background-color: #0d47a1;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
